#pageWrapper {
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.editor {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 0 10px 32px 10px;
  background: #dddddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: move; }
  .editor .moveHandle {
    cursor: move; }
  .editor .titleBar {
    font-family: sans-serif;
    height: 22px;
    width: 100%; }
  .editor .resizer {
    background-image: url("../images/resize.png");
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize; }
  .editor .closer {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    cursor: pointer; }
    .editor .closer:before {
      content: "x"; }
  .editor .codeEditor {
    font-size: 120%;
    background: white; }

#fileFinder {
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  top: 0;
  border: 1px solid black;
  height: 300px;
  display: none;
  background: white; }
  #fileFinder input.filename {
    width: 100%; }

#unsavedFileList {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  background: #dddddd;
  font-family: sans-serif;
  display: none; }
  #unsavedFileList .titleBar {
    cursor: move;
    padding: 2px; }
  #unsavedFileList .unsavedFiles .name {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 0;
    padding: 0.5em;
    margin: 0;
    width: 100%; }

.button {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .button:hover {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 1px; }
  .button.black {
    color: #d7d7d7;
    border: solid 1px #333333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black)); }
    .button.black:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black)); }
    .button.black:active {
      background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444)); }
