#pageWrapper
  float: left
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.editor
  height: 300px
  width: 300px
  border: 1px solid black
  position: absolute
  top: 0
  left: 0
  background: white
  padding: 0 10px 32px 10px
  background: #DDD
  -webkit-border-radius: 5px
  border-radius: 5px
  cursor: move
  .moveHandle
    cursor: move
  .titleBar
    font-family: sans-serif
    height: 22px
    width: 100%
  .resizer
    background-image: url('../images/resize.png')
    width: 18px
    height: 18px
    position: absolute
    bottom: 0
    right: 0
    cursor: se-resize
  .codeEditor
    font-size: 120%
    background: white

#fileFinder
  position: absolute
  width: 300px
  margin-left: (-300px/2)
  left: 50%
  top: 0
  border: 1px solid black
  height: 300px
  display: none
  background: white

  input.filename
    width: 100%

#unsavedFileList
  position: absolute
  right: 0
  top: 0
  width: 200px
  background: #DDD
  font-family: sans-serif
  display: none
  .titleBar
    cursor: move
    padding: 2px
  .unsavedFiles .name
    overflow: hidden
    text-overflow: ellipsis
    -webkit-border-radius: 0
    padding: .5em
    margin: 0
    width: 100%

.button
  display: inline-block
  vertical-align: baseline
  margin: 0 2px
  outline: none
  cursor: pointer
  text-align: center
  text-decoration: none
  font: 14px/100% Arial, Helvetica, sans-serif
  padding: .5em 2em .55em
  text-shadow: 0 1px 1px rgba(0,0,0,.3)
  -webkit-border-radius: .5em 
  border-radius: .5em
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2)
  box-shadow: 0 1px 2px rgba(0,0,0,.2)
  &:hover 
    text-decoration: none
  &:active
    position: relative
    top: 1px

  &.black
    color: #d7d7d7
    border: solid 1px #333
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000))
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000))
    &:active
      background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444))
