#pageWrapper {
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.editor {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 0 10px 32px 10px;
  background: #dddddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: move; }
  .editor .moveHandle {
    cursor: move; }
  .editor .titleBar {
    font-family: sans-serif;
    height: 22px;
    width: 100%; }
  .editor .resizer {
    background-image: url("../images/resize.png");
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize; }
  .editor .closer {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    cursor: pointer; }
    .editor .closer:before {
      content: "x"; }
  .editor .codeEditor {
    font-size: 120%;
    background: white; }

#fileFinder {
  position: absolute;
  width: 450px;
  margin-left: -150px;
  left: 50%;
  top: 0;
  height: 400px;
  display: none;
  background: white;
  font-family: sans-serif;
  overflow: hidden; }
  #fileFinder input.filename {
    width: 100%;
    height: 20px; }
  #fileFinder .results {
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px; }
    #fileFinder .results .item {
      padding: 0;
      width: 100%;
      background: #555555;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      margin: 2px 0;
      color: white;
      cursor: pointer;
      overflow-x: hidden;
      overflow-y: auto; }
      #fileFinder .results .item:active {
        position: relative;
        top: 1px; }
      #fileFinder .results .item .item_inner {
        margin: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 0;
        padding: 5px 16px; }
        #fileFinder .results .item .item_inner .name {
          font-size: 110%; }
        #fileFinder .results .item .item_inner .fullName {
          font-size: 80%; }

#unsavedFileList {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  background: #dddddd;
  font-family: sans-serif;
  display: none;
  z-index: 100000;
  padding: 2px; }
  #unsavedFileList .titleBar {
    cursor: move;
    padding: 2px; }
  #unsavedFileList .unsavedFiles .item {
    padding: 0;
    width: 100%;
    background: #555555;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 2px 0;
    color: white;
    cursor: pointer; }
    #unsavedFileList .unsavedFiles .item:active {
      position: relative;
      top: 1px; }
    #unsavedFileList .unsavedFiles .item .name {
      margin: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 4px 0;
      padding: 5px 16px; }
