#pageWrapper
  float: left
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.editor
  height: 25%
  float: left
  width: 25%
  border: 1px solid black

#fileFinder
  position: absolute
  width: 300px
  margin-left: (-300px/2)
  left: 50%
  top: 0
  border: 1px solid black
  height: 300px
  display: none
  background: white

  input.filename
    width: 100%
